<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

		<title>Login Basic</title>

	</head>

	<body>
		<form class="mb-3" action="{{ path('app_login') }}" method="POST">

			{% if error %}
				<div class="alert alert-warning my-3">
					{{ error.messageKey|trans(error.messageData, 'security') }}
				</div>
			{% endif %}
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<div class="mb-3">
				<label for="email" class="form-label">Email ou numéro</label>
				<input type="text" class="form-control" value="{{ last_username }}" id="email" name="_username" placeholder="Entrez votre email ou téléphone" autofocus>
			</div>
			<div class="mb-3 form-password-toggle">
				<div class="d-flex justify-content-between">
					<label class="form-label" for="password">Mot de passe</label>
					<a href="auth-forgot-password-basic.html">
						<small>Mot de passe oublié?</small>
					</a>
				</div>
				<div class="input-group input-group-merge">
					<input type="password" id="password" class="form-control" name="_password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password"/>
					<span class="input-group-text cursor-pointer">
						<i class="bx bx-hide"></i>
					</span>
				</div>
			</div>
			<div class="mb-3">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="remember-me">
					<label class="form-check-label" for="remember-me">
						Se souvenir de moi
					</label>
				</div>
			</div>
			<div class="mb-3">
				<button class="btn btn-primary d-grid w-100" type="submit">Connexion</button>
			</div>
		</form>
	</body>


</html>
